/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  body  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Design main container @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.main-container {
  background-color: black;
  width: 100%;
  height: 100%;
  /* nedan gör så calender hamnar i mitten */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Design för Kalender "rutan" @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.calender {
  background-color: rgb(226, 226, 226);
  height: 500px;
  width: 500px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Design för Månader @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#month h1,
p {
  padding: 0;
  margin: 0;
}

#calender-head {
  width: 100%;
  height: 10rem;
  background-color: rgb(3, 44, 7);
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 0;*/
  text-align: center;
  color: #c7c5c5;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
}

.prev {
  color: aliceblue;
  font-size: 2rem;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  calender head, håller år (månad?) @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#calender-head div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-arrow {
  text-decoration: none;
  padding: 2px;
  margin: 0px 5px;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.nav-arrow:hover {
  background-color: black;
}

.weekDays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Design för nummer (antal dagar i månaden) @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.days-number {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.days-number div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: calc(490px / 7);
}

.date-calender {
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;

  background-color: white;

  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.timme {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  height: 30px;
}
.dayHours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 6px;
  width: 99%;
}

.eventTime {
  width: 5%;
  border: solid rgb(211, 211, 211) 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EventText {
  width: 95%;
  border: solid rgb(211, 211, 211) 0.5px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  /*flex-direction: column;*/
}
.activityDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button {
  width: 50px;
}
.selector {
  width: 70px;
}
.hour {
  height: 100%;
  /* font-size: 10px; */
  font-family: Arial;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 3px;
  width: 100%;
}
.hour:hover {
  background-color: green;
  color: white;
}

#button {
  background-color: rgb(3, 44, 7);
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

#button :hover {
  background-color: black;
  color: whitesmoke;
}

.removeInput {
  color: black;
  font-size: 20px;
  padding-right: 0.5px;
  padding-top: 3px;
}
.removeInput:hover {
  font-size: x-large;
}
